html, body {
  overflow: hidden; 
  height: 100%;
  margin: 0;
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin: auto;
}

#canvas-container {
  display: inline-block;
  position: relative;
}
